<% @posts.each do |post| %>
  <!-- Least abstract... -->
  <div><%= post.title %></div>
  <div><%= link_to post.title, "/posts/#{post.id}" %></div>
  <div><%= link_to post.title, post_path(post.id) %></div>
  <!-- Most abstract... -->
  <div><%= link_to post.title, post_path(post) %></div>
<% end %>
